.cardUser{
    border: 1 solid $white-dark;
    border-radius: '5px';
    box-shadow: 0 0 5px $white-dark;
    color: $primary;
    display: flex;
    height: 120px;
    margin: 10px auto;
    position: relative;
}

.cardUser__content{
    display: flex;
    flex-direction: column;
}
.cardUser__fullName{
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
    width: 40%;

    h4, h5 {
        margin: 0px;
    }

    h4{
        margin-bottom: 5px;
    }
}

.cardUser__votes{
    text-align: center;
    
    h5{
        margin: 10px 0px;
    }
    span{
        font-size: 2rem;
        font-weight: bold;
        
    }
}


.cardUser__slogan{
    margin: 0px;
    margin-top: 10px;
    font-size: .8rem;
}

.cardUser__divVotes{
    display: flex;
}

.cardUser_buttons{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: $primary;
    padding: 10px;
    &:hover{
        background-color: $white-dark;
        cursor: pointer;
    }

    &:focus{
        outline: none !important;
    }
}
                    
.cardUser__withoutButtons{
    span{
        font-size: 50px;
    }
}

.cardUser__highlight{
    color: #fc8a08;
    position: absolute;
    top: -10px;
    left: -10px;
}
