*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif, Helvetica,  Arial ;
}

hr{ 
    background-color: #cccccc;
    height: 1px; 
    border: 0;
}

main {
    width: 100%;
}

.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px
}

.mb-1{
    margin-bottom: 5px;
}

.mb-5{
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

a {
    color: $white;
    text-decoration: none; 
}

.title-component {
    color: $primary;
}

.text-bold{
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.default-bg{
    color: $white;
    background: linear-gradient(
        .82deg
        ,$primary 61.99%, $primary-light 116.05%);
    height: 100vh;
    width: 100vw;
}

.title{
    color: $white;
    font-size: 70px;
    line-height: 70px;
}